@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --Fundo-Tela_R: #002452;
    --Fundo-Tela_L: #3E88C2;
    --Fundo-destaque: #003B6C;

    --Cetrus-01: #002452;
    --Cetrus-02: #003B6C;
    --Cetrus-03: #3E88C2;
    --Cetrus-04: #3EADFF;

    --branco:#ffffff;
    --cinza: #E6E6E6;
    --rosa: #D33C86;
    --vermelho: #D6373D;
    --bege: #d7be9e;

    --OUT: #F277A4;
    --OUT2: #F2ACC6;
    --OUT3: #D93D76;

    --NOV: #3EADFF;
    --NOV2: #8CCFFF;
    --NOV3: #007ACC;

    --Natal: #F20505;
    --Natal1: #A60303;
    --Natal2: #730202;
    --NatalLetra: #1D5902;

    --completude: #D6373D;
    --DayOne: #D33C86;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(90deg,  var(--Fundo-Tela_R), var(--Fundo-Tela_L));
    font-family: "Poppins", serif;
    font-weight: 400;
    margin: 2vh;
    color: var(--branco);
}

header {
    margin: 2vh;
    color: var(--branco);
}

#cardsResult, #cardsResult2, #cardsResult3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#nCurso {
    font-size: 1.2vh;
    font-weight: 400;
    margin: 10px 5px 5px 5px;
    color: black;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vh;
    text-align: center;
}

.cabecalho2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vh;
    text-align: center;
}

.cabecalho h2{
    font-size: 3vh;
    font-weight: bold;
}

/* .cabecalho img {
    width: 80vw;
    margin-bottom: 10px;
} */

.textHeader {
    flex-direction: row;
}

.localCetrus h1{
    font-size: 5vh;
}
.localCetrus p{
    font-size: 3vh;
}

.localCetrus2 {
    display: flex;
    align-items: center;
    gap: 10px; /* espaço entre logo e laço */
}

.localCetrus2 h1{
    font-size: 5vh;
}
.localCetrus2 p{
    font-size: 3vh;
}

.logoCetrus {
    width: 16vw; /* tamanho do logo */
    height: auto;
}

.LasosCampanhas {
    width: 4vw;
    height: auto;
}

.evento {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    width: 80vw;
    min-height: 50vh;
    background-color: var(--branco);
    border-radius: 2.2vh;
}

.notificacao {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: var(--branco);
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    background-color: var(--completude);
    border-radius: 50%;
}
.notificacaoDAYONE_Completude {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 45px;
    width: 20px;
    height: 20px;
    font-size: 10px;
    font-weight: bold;
    color: var(--branco);
    background-color: var(--DayOne);
    border-radius: 50%;
}

.notificacao2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: var(--branco);
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    background-color: var(--completude);
    border-radius: 50%;
}
.notificacaoDAYONE_Completude2 {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 45px;
    width: 20px;
    height: 20px;
    font-size: 10px;
    font-weight: bold;
    color: var(--branco);
    background-color: var(--DayOne);
    border-radius: 50%;
}

.notificacaoDAYONE {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    font-size: 10px;
    font-weight: bold;
    color: var(--branco);
    background-color: var(--DayOne);
    border-radius: 50%;
}

.curso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2vh;
    margin: 10px 5px 5px 5px;
    color: black;
}

.horario {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Fundo-destaque);
    width: 80%;
    height: 5vh;
    border-radius: 15px;
    color: var(--branco);
    font-size: 1.5vh;
    margin: 5px 0;
}

.andares {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    font-size: 1.5vh;
    font-weight: 400;
    margin: 5px 0 10px 0;
    color: black;
}

.andares p {
    font-size: 3vh;
}

.data {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Fundo-destaque);
    width: 80%;
    height: 5vh;
    border-radius: 15px;
    color: var(--branco);
    font-size: 1.5vh;
    margin: 10px 0;
}

.periodo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Fundo-destaque);
    width: 80%;
    height: 5vh;
    border-radius: 15px;
    color: var(--branco);
    font-size: 1.5vh;
}

@media (min-width: 720px) {
    #cardsResult, #cardsResult2, #cardsResult3 {
        flex-direction: row;
        flex-wrap: wrap;
    }

    body {
        margin: 0vh;
        color: var(--branco);
    }

    .evento {
        width: 16vw; /* Aumenta para desktops */
        margin: 16px;
        min-height: 35vh;
        justify-content: space-between;
    }

    .horario {
        font-size: 1.5vh;
    }

    .cabecalho {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 3vh;
        text-align: center;
        margin-bottom: 3vh;
    }
    
    .cabecalho h2{
        display: block;
        width: 200px;
        font-size: 3vh;
        font-weight: bold;
    }
    
    /* .cabecalho img {
        width: 16vw;
        margin-left: 2vw;
        margin-bottom: 0px;
    } */

    .localCetrus h1{
        font-size: 5vh;
    }
    .localCetrus p{
        font-size: 3vh;
    }

    .localCetrus2 {
        display: flex;
        align-items: center;
        gap: 10px; /* espaço entre logo e laço */
    }

    .localCetrus2 h1{
        font-size: 5vh;
    }
    .localCetrus2 p{
        font-size: 3vh;
    }

    .logoCetrus {
        width: 16vw; /* tamanho do logo */
        height: auto;
    }

    .LasosCampanhas {
        width: 4vw;
        height: auto;
    }

    .cabecalho2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .turmaCurso {
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1vh;
        height: 100%;
        margin: 10px;
        color: black;
    }

    .curso {
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1vh;
        height: 100%;
        margin: 10px;
        color: black;
    }
    
    .horario {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--Fundo-destaque);
        width: 80%;
        height: 5vh;
        border-radius: 15px;
        color: var(--branco);
        font-size: 1vh;
        margin: 5px 0;
    }
    
    .andares {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        font-size: 1vh;
        font-weight: 400;
        margin: 10px 0 10px 0;
        color: black;
    }
    
    .andares p {
        font-size: 2.4vh;
    }

    .data {
        background-color: var(--Fundo-destaque);
        width: 12%;
        height: 10%;
        border-radius: 15px;
        color: var(--branco);
        font-size: 1.5vh;
        margin-left: 14vw;
    }

    .periodo {
        background-color: var(--Fundo-destaque);
        width: 12%;
        height: 10%;
        border-radius: 15px;
        color: var(--branco);
        font-size: 1.5vh;
        margin-left: 10px;
    }
}

