@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --Fundo-Tela_R: #F277A4;
    --Fundo-Tela_L: #F2ACC6;
    --Fundo-destaque: #D93D76;
    --Cetrus-01: #002452;
    --Cetrus-02: #003B6C;
    --Cetrus-03: #3E88C2;
    --Cetrus-04: #3EADFF;
    --branco:#ffffff;
    --cinza: #E6E6E6;
    --rosa: #D33C86;
    --bege: #d7be9e;

    --dayOne: #D33C86;
    --completude:#3EADFF;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(90deg, var(--Fundo-Tela_R), var(--Fundo-Tela_L));
    font-family: "Poppins", serif;
    font-weight: 400;
}

header {
    margin: 2vh;
    color: var(--branco);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nCurso {
    margin-bottom: 1vh;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vh;
    text-align: center;
}

.cabecalho h2{
    font-size: 3vh;
    font-weight: bold;
}

/* .cabecalho img {
    width: 80vw;
    margin-bottom: 10px;
} */

.textHeader {
    flex-direction: row;
}

.localCetrus h1{
    font-size: 5vh;
}
.localCetrus p{
    font-size: 3vh;
}

.localCetrus2 {
    display: flex;
    align-items: center;
    gap: 10px; /* espaço entre logo e laço */
}

.localCetrus2 h1{
    font-size: 5vh;
}
.localCetrus2 p{
    font-size: 3vh;
}

.logoCetrus {
    width: 50vw; /* tamanho do logo */
    height: auto;
}

.LasosCampanhas {
    width: 14vw;
    height: auto;
}

.evento {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    width: 80vw;
    min-height: 45vh;
    background-color: var(--branco);
    border-radius: 2.2vh;
}

.notificacao {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 12px;
    height: 12px;
    background-color: var(--completude);
    border-radius: 50%;
}

.notificacaoDAYONE_Completude {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 12px;
    right: 32px;
    width: 12px;
    height: 12px;
    font-size: 10px;
    font-weight: bold;
    color: var(--branco);
    background-color: var(--dayOne);
    border-radius: 50%;
}

.notificacaoDAYONE {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 12px;
    right: 12px;
    width: 12px;
    height: 12px;
    font-size: 10px;
    font-weight: bold;
    color: var(--branco);
    background-color: var(--dayOne);
    border-radius: 50%;
}

.curso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1vh;
    margin: 10px 5px 5px 5px;
}

.horario {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Fundo-destaque);
    width: 80%;
    height: 5vh;
    border-radius: 15px;
    color: var(--branco);
    font-size: 1.3vh;
    margin: 5px 0;
}

.andares {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    font-size: 1.1vh;
    font-weight: 400;
    margin: 5px 0 10px 0;
}

.andares p {
    font-size: 2.6vh;
}

.data {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Fundo-destaque);
    width: 80%;
    height: 5vh;
    border-radius: 15px;
    color: var(--branco);
    font-size: 1.5vh;
    margin: 10px 0;
}

.periodo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Fundo-destaque);
    width: 80%;
    height: 5vh;
    border-radius: 15px;
    color: var(--branco);
    font-size: 1.5vh;
}

@media (min-width: 720px) {
    main {
        flex-direction: row;
        flex-wrap: wrap;
    }

    header {
        margin: 0vh;
        margin-left: 5vw;
        color: var(--branco);
    }

    .evento {
        width: 16vw; /* Aumenta para desktops */
        margin: 16px;
        min-height: 35vh;
        justify-content: space-between;
    }

    .horario {
        font-size: 1.5vh;
    }

    .cabecalho {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 3vh;
        text-align: center;
        margin-bottom: 3vh;
    }
    
    .cabecalho h2{
        display: block;
        width: 200px;
        font-size: 3vh;
        font-weight: bold;
    }
    
    /* .cabecalho img {
        width: 16vw;
        margin-left: 2vw;
        margin-bottom: 0px;
    } */

    .localCetrus h1{
        font-size: 5vh;
        /* margin-left: 20vw; */
        margin-left: 17.5vw;
    }
    .localCetrus p{
        font-size: 3vh;
        /* margin-left: 20vw; */
        margin-left: 17.5vw;
    }

    .localCetrus2 {
        display: flex;
        align-items: center;
        gap: 10px; /* espaço entre logo e laço */
    }

    .localCetrus2 h1{
        font-size: 5vh;
    }
    .localCetrus2 p{
        font-size: 3vh;
    }

    .logoCetrus {
        width: 16vw; /* tamanho do logo */
        height: auto;
    }

    .LasosCampanhas {
        width: 4vw;
        height: auto;
    }

    .curso {
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1vh;
        height: 100%;
        margin: 10px;
    }
    
    .horario {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--Fundo-destaque);
        width: 80%;
        height: 5vh;
        border-radius: 15px;
        color: var(--branco);
        font-size: 1vh;
        margin: 5px 0;
    }
    
    .andares {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        font-size: 1vh;
        font-weight: 400;
        margin: 10px 0 10px 0;
    }
    
    .andares p {
        font-size: 2.2vh;
    }

    .data {
        background-color: var(--Fundo-destaque);
        width: 12%;
        height: 10%;
        border-radius: 15px;
        color: var(--branco);
        font-size: 1.5vh;
        margin-left: 14vw;
    }

    .periodo {
        background-color: var(--Fundo-destaque);
        width: 12%;
        height: 10%;
        border-radius: 15px;
        color: var(--branco);
        font-size: 1.5vh;
        margin-left: 10px;
    }
}

