@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --Fundo-Tela_R: #F277A4;
    --Fundo-Tela_L: #F2ACC6;
    --Fundo-destaque: #D93D76;
    --Cetrus-01: #002452;
    --Cetrus-02: #003B6C;
    --Cetrus-03: #3E88C2;
    --Cetrus-04: #3EADFF;
    --OUT: #F277A4;
    --OUT2: #F2ACC6;
    --OUT3: #D93D76;
    --branco:#ffffff;
    --cinza: #E6E6E6;
    --cinza-intermed:#B3B3B3;
    --cinza-escuro: #404040;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(90deg, var(--Fundo-Tela_R), var(--Fundo-Tela_L));
    font-family: "Poppins", serif;
    font-weight: 400;
}

header {
    margin-top: 12vh;
    margin-bottom: 6vh;
    color: var(--branco);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vh;
    text-align: center;
}

.localCetrus {
    display: flex;
    align-items: center;
    gap: 10px; /* espaço entre logo e laço */
}

.logoCetrus {
    width: 58vw; /* tamanho do logo */
    height: auto;
}

.LasosCampanhas {
    width: 15vw;
    height: auto;
}

button {
    width: 70vw;
    height: 10vh;
    font-size: 3vh;
    font-weight: bold;
    margin: 10px;
    color: var(--Fundo-destaque);
}

button:hover {
    background-color: var(--cinza-intermed); 
    color: var(--branco);
}